<header class="h-20 bg-[#f63cbe] grid grid-cols-[30%,1fr] items-center justify-center px-4">
  <h1 class="text-4xl text-[#2bfc42] place-self-center">Rick and Morty wiki</h1>
  <div class="flex gap-8">
    <input type="text" class="w-[70%] h-10 border border-solid text-lg text-[#ff07ea] font-bold border-[#2bfc42] rounded-lg bg-[#c6fadc] p-2">
    <button class="w-24 h-10 bg-[#9b00b7] hover:bg-[#bb00d8] rounded-lg text-[#2bfc42] border border-solid border-[#2bfc42]">Buscar</button>
  </div>
</header>
