<main class="grid grid-cols-2 px-72 py-10 justify-items-center gap-10">
  <div
    class="w-full h-72 bg-[#6343f8] rounded-lg shadow-lg grid grid-cols-[40%,1fr]">
    <img class="h-full rounded-lg" src="{{ card.image }}" alt>
    <div class="p-4 flex flex-col gap-3">
      <h2 class="text-3xl font-bold text-[#f338ba]">{{card.name}}</h2>
      <div class="flex gap-2 items-center">
        <p class="text-[#f338ba] text-lg font-bold">Status:</p>
        <span
          [ngClass]="card.status === 'Dead' ? 'bg-[#f82042]' : 'bg-[#2bfc42]'"
          class="flex items-center justify-center text-white w-20 h-8 rounded-full">
          {{card.status}}
        </span>
      </div>
      <div class="flex gap-2 items-center">
        <p class="text-[#f338ba] text-lg font-bold">Especie:</p>
        <span class="flex items-center justify-center text-white w-20 h-8 rounded-full bg-[#bd52bb]">
          {{card.species}}
        </span>
        <span class="flex items-center justify-center text-white w-20 h-8 rounded-full bg-[#4f7de4]">
          {{card.gender}}
        </span>
      </div>
      <div>
        <h3 class="text-lg text-[#f338ba] font-bold">
          Origem:
        </h3>
        <p class="text-white"> 
          {{card.origin.name}}
        </p>
      </div>
      <div>
        <h3 class="text-lg text-[#f338ba] font-bold">
          Ultima aparição:
        </h3>
        <p class="text-white"> 
          {{card.location.name}}
        </p>
      </div>
    </div>

  </div>
</main>